# Dataset folders (except testing)
venomous/
non_venomous/
other/


# Specific image file to ignore
image_2023-01-09_21-31-37.png

# Model/binary files
converted_keras.zip
keras_model.h5
*.h5
*.png

# Specific scripts
Snakebite.py

# System/Python files
.DS_Store
__pycache__/
*.py[cod]
